body {
  padding: 0px 0px 0px 0px!important;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  text-align: center;
  background-color: #DDDCE1;
}

header,
section {
  padding: 5% 0 0 5%;
}
.menu {
  height: 53px;
  background-color: rgba(26, 23, 115, 0.3);
  text-align: center;
}
.navbar {
  display: flex;
  align-items: center;
  margin-top: -60px;
  margin-bottom: 60px;
}


.navbar-toggle-label {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  margin-top: 0;
}

.navbar-toggle-label span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #DDDCE1;
  margin-bottom: 5px;
  transition: transform 0.3s ease;
}

#navbar-toggle {
  display: none;
}

.navbar-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #DDDCE1;
  padding: 10px;
  opacity: 0;
  opacity: 0.5;
  transition: opacity .25s ease-in-out;
}

#navbar-toggle:checked ~ .navbar-menu {
  display: block;
  opacity: 1;
  transform: translateY(0); /* Riporta il menu nella posizione originale */
}

.navbar-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-menu ul li {
  margin-top: -30px; /* Riduci lo spazio tra gli elementi */
}

.navbar-menu ul li a {
  color: #1A1773;
  text-decoration: none;
  text-align: left;
  font-size: 13px;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
  font-size: 5.5rem;
  text-align: center;
 
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 15px;
}

.logo {
  width: 180px;
  height: 180px;
  max-width: 100%;
  margin-right: 10px;
  margin-bottom: 55px;
  margin-top: 65px;
justify-content: center;
}

header {
  font-weight: 700;
  padding: 0;
  height: 250px;
  max-width: 100%;
}
#sottotitolo {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
  text-shadow: 0 0 5px #F9E9B4, 0 0 10px #F9E9B4, 0 0 15px #F9E9B4;
  font-size: 30px;
  text-align: center;
  margin-top: -25px;
  margin-bottom: 25px;
}

#slogan {
  font-size: 25px;
  color: #1A1773;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff;
  margin-top: 3%;
  font-style:normal;
margin-bottom: 6%;
}

#sottotitolo {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
  text-shadow: 0 0 5px #F9E9B4, 0 0 10px #F9E9B4, 0 0 15px #F9E9B4;
  font-size: 30px;
  text-align: center;
  margin-top: -25px;
  margin-bottom: 25px;
}

#title {
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff;
  margin-top: 15px;
  color: #1A1773;
}

section {
  padding: 10px;
}
.whitelink {
  color: #4E487D;
}

.active h2 {
  text-decoration: underline !important;
  text-shadow: 0 0 5px #F9E9B4, 0 0 10px #F9E9B4, 0 0 15px #F9E9B4;
color:#ffffff;
}

.nounderline {
  text-decoration: none;
  padding: 10px;
  color: #4E487D;
}

.nounderline:hover {
  color: #9080CF;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 450px;
  width: 400px;
}

#my-header {
  position: relative;
  background-image: url('2.img/citazioni.jpeg');
  background-size: cover;
  background-position: top left; /* Modificato da "center" a "top left" */
  height: 450px;
  width: 400px;
  max-width: 70%;
  padding: 5% 5% 0;
}

#servizi {
  font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-size:75px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
    color:#1A1773;
  
  }
.breadcrumbs {
  font-size: 4px;
  display: inline-block;
  opacity: 0.5;
    display: flex;
    list-style: none;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-top: 40px;
  }

.fine {
  font-size: 10px;
}
  /*UGUALE PER TUTTI FINO A QUA*/  
  p {
    text-align: center;
    justify-content: center;
  }
  .text-1  {
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
   
  }
  .text-2 {
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
   
  }

.storia {
    position: relative;
    height: 100%;
}

.text-1 {
text-align: center;
padding-left: 30%;
padding-right: 30%;
  margin-bottom: 55px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-top: 20px;
}
.text-2 {
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
  margin-bottom: 55px;
margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.title {
  font-size: 35px;
  margin-top: 35px;
}

.img-1 {
  float: left;
  height: 150px;
  width: 250px;
  border-radius: 3%;
  margin-top: 3px;
  margin-right: 100px;
  max-width: 100%;
}

.img-2 {
  float: right;
  height: 150px;
  width: 250px;
  border-radius: 3%;
  margin-top: 3px;
  margin-left: 100px;
  max-width: 100%;
}

.galleria-artisti-home {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.artisti-home {
  position: relative;
  width: 300px; /* Imposta la larghezza desiderata */
  height: 350px; /* Imposta l'altezza desiderata */
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 30px;
}

.image-container {
  width: 100%;
  height: 100%;
  
}

.artisti-home img {
  display: block;
  width: 100%;
  height: 100%;
  filter: grayscale(100%); /* Converte l'immagine in bianco e nero */
  transition: transform 0.3s, filter 0.3s;
  
}

.artisti-home:hover img {
  transform: scale(1.2); /* Ingrossa l'immagine al passaggio del mouse */
  filter: grayscale(0%); /* Ripristina il colore dell'immagine */

}